<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haibin.TimeManager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".activity.MainActivityTemp"
            android:theme="@style/Theme.ToDoList"
            android:launchMode="singleTop"/>

        <activity
            android:name=".menu.search_dustbin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".menu.search_history"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".calendar.custom.CustomActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".calendar.full.FullActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".calendar.CalendarActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".showActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".showDailyTodoActivity"
            android:theme="@style/Theme.AppCompat.Light"
            />

        <activity android:name=".tempActivity_third"
            android:launchMode="singleTop"/>

        <activity android:name=".Statistics.StatisticsActivity"
            android:label="数据复盘回顾"
            android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleTop"/>

    </application>

</manifest>