<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haibin.TimeManager">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name="com.haibin.TimeManager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.haibin.TimeManager.meizu.MeiZuActivity" />
        <activity android:name="com.haibin.TimeManager.custom.CustomActivity" />
        <activity android:name="com.haibin.TimeManager.full.FullActivity" />
        <activity android:name="com.haibin.TimeManager.CalendarActivity" />
        <activity android:name="com.haibin.TimeManager.showActivity" />
        <activity android:name="com.haibin.TimeManager.textActivity"/>
    </application>

</manifest>